VITE_TABLE_SERVICE_URL=http://localhost:4000
VITE_TABLE_SERVICE_WS_URL=ws://localhost:4000
VITE_TABLE_SERVICE_API_KEY=table-api-key
VITE_RESERVATION_SERVICE_API_KEY=reservation-api-key
VITE_RESERVATION_SERVICE_URL=http://localhost:5000